.simple_video_header {
    position: relative;
    background-color:greenyellow;
    height: 100vh;
    
}
.simple_row{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100vw;


}
.simple_row h2{
    font-weight: 400;
    font-size: 1rem;
} 
.simple_row h3{
    font-weight: 400;
    font-size: .8rem;

    margin-bottom: 1rem;
} 
.simple_row p{
    font-weight: 400;
    font-size: .8rem;
} 

.absolid{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
} 
.sollid {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
.simple_cloumn {
    width: 500px;
}
.simple_section {
    padding: 2rem 0;
}
.semple_section2{
    background-color:greenyellow;
    margin: 2rem;
    height: 100vh;
}
.work1 p{
   margin: 30px;

}
.work1 div{
   margin: 2rem 0;
   background-color: greenyellow;
   height: 60vh;
   
   
}
.work2{
    background-color: greenyellow;
    height: 100vh;
}
.work3{
    background-color: greenyellow;
    height: 100vh;
    margin: 2rem;
}
.work4 {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}
.work4 div {
    height: 100vh;
    width: 50vw;
    background-color: greenyellow;

}
.work5 {
    background-color: greenyellow;
    height: 80vh;
    margin: 2rem;
}
.work6 {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.work6 div {
    background-color: greenyellow;
    width: 45vw;
    height: 45vw;

}
.work7 {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.work7 div {
    background-color: greenyellow;
    width: 30vw;
    height: 100vh;

}
.work8 {
    margin:2rem 0;
    height: 90vh;
    background-color: greenyellow;
}
.work9 {
    margin:2rem ;
    height: 80vh;
    background-color: greenyellow;
}